<h3 id="stuff">
  <span class="sep">•</span> it consulting <span class="sep">•</span> agile development <span class="sep">•</span>

  <br/> <span class="sep">•</span> it project management <span class="sep">•</span>
</h3>

<p id="address">
  <h1>Tobias Schlottke</h1>
  <br />
  Talstr. 27 II
  <br />

  20359 Hamburg
</p>

<p id="mail">

  <script type="text/javascript">
  document.write("<n uers=\"znvygb:gbovnf\056fpuybggxr\100tznvy\056pbz\">gbovnf qbg fpuybggxr ng tznvy qbg pbz<\057n><oe \057><n uers=\"znvygb:fpuybggxr\056gbovnf\100thw\056qr\">fpuybggxr qbg gbovnf ng thw qbg qr<\057n>\n".replace(/[a-zA-Z]/g, function(c) { return String.fromCharCode((c <= "Z" ? 90 : 122) >= (c = c.charCodeAt(0) + 13) ? c : c - 26);}));
  </script>
  
  <br />
  <br />

  <a class="service" href="http://xing.com/profile/Tobias_Schlottke2/">Tobias Schlottke @ xing.com</a><br />
  <a class="service" href="http://facebook.com/charlie.lownoise">Tobias Schlottke @ facebook.com</a><br />
  <a class="service" href="http://twitter.com/tobsch">Tobias Schlottke @ twitter.com</a>
</p>

<hr class="seperator" />

<%= render :partial => 'twitter' %>