body {
  font-family: "Quattrocento Sans", "Myriad Pro", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: lighter;
  color: #EEE;
  letter-spacing: -0.3px;  
  
  #info {
    position: relative;
    margin: 0 auto 0 auto;
    width: 250px;
  }
}

a {
  &, &:hover, &:visited, &:active {
    color: white;
  }
}