body {
  font-family: "Quattrocento Sans", "Myriad Pro", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: lighter;
  color: #EEE;
  letter-spacing: -0.3px;  
  
  #info {
    position: relative;
    width: 100%;
    text-align: center;
    
    img {
      opacity: 0.5;
      -webkit-box-reflect:below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(white));
    }
    
    #caption {
      opacity: 0.0;
      width: 100%;
      text-align: center;
      color: black;
    }
  }
}

a {
  &, &:hover, &:visited, &:active {
    color: white;
  }
}